* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transition: all 0.5s ease;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-align: justify;
}

/* Navbar property */
header {
  /* height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column; */
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  background: #fff;
}

nav {
  min-height: 10vh;
  margin: auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav h1, nav ul {
  font-size: 1.2rem;
  flex: 1;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: #000;
}

.bubble {
  position: absolute;
  z-index: -2;
  background: linear-gradient(to right top, #f46b45 ,#eea849);
  transform: scale(2);
  transition: all 0.5s ease-out;
}

@media screen and (max-width: 768px) {
  .line {
    width: 30px;
    height: 3px;
    background-color: #777;
    margin: 8px;
  }

  .hamburger {
    position: absolute;
    right: 3%;
    top: 2%;
    transform: translate(-5%, -2%);
    z-index: 2;
  }

  .nav-links {
    position: fixed;
    background-color: #000;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 105% -20%);
    -webkit-clip-path: circle(100px at 105% -20%);
    transition: all 1s ease-out;
    pointer-events: none;
  }

  .nav-links.open {
    clip-path: circle(1100px at 80% -20%);
    -webkit-clip-path: circle(1100px at 90% -10%);
    pointer-events: all;
  }

  .nav-links li {
	  opacity: 0;
  }

  .nav-links li a {
    color: #fff;
  }

  .nav-links li:nth-child(1) {
	  transition: all 0.5s ease 0.25s;
  }
  .nav-links li:nth-child(2) {
	transition: all 0.5s ease 0.5s;
  }
  .nav-links li:nth-child(3) {
	transition: all 0.5s ease 0.75s;
  }

  .nav-links li.fade {
	  opacity: 1;
  }
}

/* Content properties */
section {
  min-height: 100vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}

section h1 {
  font-size: 5rem;
}

.home {
  background: linear-gradient(to right top, #f46b45 ,#eea849);
}

.about {
  background: linear-gradient(to right top, #005c97 ,#363795);
}

.project {
  background: linear-gradient(to right top, #e539e5 ,#e35b5e);
}

.contact {
  background: linear-gradient(to right top, #43cea2, #185a9d);
}

.page1, .page2, .page3, .page4 {
  text-align: center;
  width: 80%;
}

.page1 h1, .page2 h1, .page3 h1, .page4 h1 {
  margin-bottom: 18px;
  font-size: 25px;
}

.bg-active {
  /* background-color: #000; */
  color: #fff;
}

::selection {
  background-color: #000;
  color: #fff;
}

::-moz-selection {
  background-color: #000;
  color: #fff;
}

a,
:hover {
  cursor: url('https://www.olivier-guilleux.com/wp-content/themes/oli/assets/dist/img/circle-cursor.png'),
    auto !important;
  cursor: -webkit-image-set(
        url('https://www.olivier-guilleux.com/wp-content/themes/oli/assets/dist/img/circle-cursor.png')
          1x,
        url('https://www.olivier-guilleux.com/wp-content/themes/oli/assets/dist/img/circle-cursor.png')
          2x
      )
      0 0,
    pointer !important;
}
