* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: #fff;
	color: #000;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
	transition: all 0.5s ease;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-align: justify;
}

/* Loader properties (Loading Screen */
.loader {
	position: fixed;
	z-index: 99;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #000;
	color: #fff;
	font-size: 3rem;
	font-weight: 400;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* display: none; */
}

.loader header h1 {
	animation-delay: 0.8s;
	animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation: loaderHero 1.8s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.loader.hidden {
	animation: loaderOut 1s cubic-bezier(1, -0.06, 0.43, 1.185);
	animation-fill-mode: forwards;
}

@keyframes loaderOut {
	100% {
		height: 0%;
		visibility: hidden;
	}
}

@keyframes loaderHero {
	0% {
		transform: translateY(30vh);
		opacity: 0 !important;
		margin: 40px 0px 40px 0px;
	}
	100% {
		transform: translateY(0vh);
		opacity: 1 !important;
		margin: 0px 0px 0px 0px;
	}
}

.o-scroll {
	height: 100%;
	position: relative;
	overflow: hidden;
	transition: all 2.4s ease-out;
	transition-delay: 0.6s;
	margin-top: 0vh;
	opacity: 1;
}

/* Copy from online source, loading animation */
.lds-facebook {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}
.lds-facebook div {
	display: inline-block;
	position: absolute;
	left: 8px;
	width: 16px;
	background: #fff;
	animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
	left: 8px;
	animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
	left: 32px;
	animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
	left: 56px;
	animation-delay: 0;
}
@keyframes lds-facebook {
	0% {
		top: 8px;
		height: 64px;
	}
	50%,
	100% {
		top: 24px;
		height: 32px;
	}
}

/* Navbar property */
header {
	/* height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column; */
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
	position: sticky;
	top: 0;
	background: #fff;
}

nav {
	min-height: 10vh;
	margin: auto;
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav h1,
nav ul {
	font-size: 1.2rem;
	flex: 1;
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
}

nav a {
	text-decoration: none;
	color: #000;
}

.bubble {
	position: absolute;
	z-index: -2;
	background: linear-gradient(to right top, #f46b45, #eea849);
	transform: scale(2);
	transition: all 0.5s ease-out;
}

@media screen and (max-width: 768px) {
	.line {
		width: 30px;
		height: 3px;
		background-color: #777;
		margin: 8px;
	}

	.hamburger {
		position: absolute;
		right: 3%;
		top: 2%;
		transform: translate(-5%, -2%);
		z-index: 2;
	}

	.nav-links {
		position: fixed;
		background-color: #000;
		height: 100vh;
		width: 100%;
		flex-direction: column;
		clip-path: circle(100px at 105% -20%);
		-webkit-clip-path: circle(100px at 105% -20%);
		transition: all 1s ease-out;
		pointer-events: none;
	}

	.nav-links.open {
		clip-path: circle(1100px at 80% -20%);
		-webkit-clip-path: circle(1100px at 90% -10%);
		pointer-events: all;
	}

	.nav-links li {
		opacity: 0;
	}

	.nav-links li a {
		color: #fff;
	}

	.nav-links li:nth-child(1) {
		transition: all 0.5s ease 0.25s;
	}
	.nav-links li:nth-child(2) {
		transition: all 0.5s ease 0.5s;
	}
	.nav-links li:nth-child(3) {
		transition: all 0.5s ease 0.75s;
	}

	.nav-links li.fade {
		opacity: 1;
	}
}

/* Content properties */
section {
	min-height: 100vh;
	display: flex;
	/* flex-direction: column; */
	align-items: center;
	justify-content: center;
}

section h1 {
	font-size: 5rem;
}

.home {
	background: linear-gradient(to right top, #f46b45, #eea849);
}

.about {
	background: linear-gradient(to right top, #005c97, #363795);
}

.project {
	background: linear-gradient(to right top, #e539e5, #e35b5e);
}

.contact {
	background: linear-gradient(to right top, #43cea2, #185a9d);
}

.contact ul {
	list-style: none;
	width: 100%;
	z-index: 4;
}

.contact ul li {
	text-align: center;
	font-size: calc(62px + (212 - 140) * ((100vw - 300px) / (1920 - 300)));
	font-weight: 600;
	font-family: 'GTWalsheim', sans-serif;
	line-height: 1.2;
	padding-top: 40px;
	padding-bottom: 40px;
	opacity: 1;
	transition: opacity 0.4s ease;
}

.contact a {
	text-decoration: none;
	color: #000;
}

.hover-highligt {
  color: #fff;
  transition: all 0.5s ease-in;
}

.credits {
	text-align: center;
	font-family: 'SCTO', sans-serif;
	font-size: 22px;
	text-align: center;
	width: 100%;
  text-transform: uppercase;
  top: -100;
}
.credits a {
	animation: heartbeat 1.4s infinite;
}

@keyframes heartbeat {
	0% {
		font-size: 20px;
	}
	20% {
		font-size: 24px;
	}
	40% {
		font-size: 20px;
	}
	60% {
		font-size: 24px;
	}
	80% {
		font-size: 20px;
	}
	100% {
		font-size: 20px;
	}
}

.page1,
.page2,
.page3,
.page4 {
	text-align: center;
	width: 80%;
}

.page1 h1,
.page2 h1,
.page3 h1,
.page4 h1 {
	margin-bottom: 18px;
	font-size: 25px;
}

.bg-active {
	/* background-color: #000; */
	color: #fff;
}

::selection {
	background-color: #000;
	color: #fff;
}

::-moz-selection {
	background-color: #000;
	color: #fff;
}

a,
:hover {
	cursor: url('https://www.olivier-guilleux.com/wp-content/themes/oli/assets/dist/img/circle-cursor.png'), auto !important;
	cursor: -webkit-image-set(
				url('https://www.olivier-guilleux.com/wp-content/themes/oli/assets/dist/img/circle-cursor.png') 1x,
				url('https://www.olivier-guilleux.com/wp-content/themes/oli/assets/dist/img/circle-cursor.png') 2x
			)
			0 0,
		pointer !important;
}
